<div class="container">
  <div class="col-45">
    <mat-card class="mat-elevation-z6">
      <app-authform (submitted)="createUser($event)">
        <mat-card-title>Create Account</mat-card-title>
        <button mat-raised-button type="submit">Join Us</button>
      </app-authform>
    </mat-card>
  </div>
  <div class="col-45">
    <mat-card class="mat-elevation-z6">
      <app-authform (submitted)="loginUser($event)">
        <mat-card-title>Login</mat-card-title>
        <app-remember (checked)="rememberMe($event)"></app-remember>
        <button mat-raised-button type="submit">Login</button>
      </app-authform>
    </mat-card>
  </div>
</div>