<mat-card-title>
  View Encapsulation : Shadow
</mat-card-title>

<div class="container">
  <mat-card-content>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, laborum? Illo quasi eligendi minus omnis quae, rem
    officia possimus enim perferendis id laborum unde recusandae. Nemo ex eum quidem est.
    Sit suscipit dicta quo ab odit. Nostrum nam cumque necessitatibus a harum pariatur. Molestias enim incidunt earum
    eum
    eligendi soluta itaque molestiae esse deserunt excepturi consequuntur eos nemo, sit exercitationem!
    Sequi alias aspernatur, voluptate fugit quisquam pariatur aliquid ullam quo animi repellendus iusto odio eius
    sint.
    Facere eos explicabo veritatis necessitatibus vitae. Fugit consequuntur veritatis, eligendi amet accusamus qui
    minima!
    Labore quibusdam eligendi tenetur, vitae rem rerum amet similique quisquam repellat culpa asperiores suscipit cum
    voluptatum aut? Dignissimos odio, eos at, blanditiis voluptatem dolor, accusamus quo possimus corrupti quisquam
    aspernatur!
    Quam nemo quod, assumenda magni placeat dignissimos quaerat quas eius sit voluptatem odit ducimus harum ab nihil
    recusandae totam sint explicabo excepturi aspernatur, adipisci facere laborum natus aliquam voluptate. Laboriosam.
    Rem mollitia amet doloremque delectus dolores hic, velit repellat ut totam veritatis ipsam quos quas assumenda
    debitis
    explicabo eos blanditiis dolorem? Provident esse odit quasi corporis sit molestiae dolores! Nisi.
    Sunt incidunt quibusdam totam doloribus quas aut voluptate tenetur recusandae fuga. Rem eum voluptas aut totam
    culpa
    sequi, blanditiis aperiam corporis labore optio, omnis maiores laudantium mollitia eius fugiat iure.
    Cumque obcaecati porro dolore adipisci nulla quae quo recusandae doloribus natus tempore vel eveniet, nobis
    reprehenderit magnam sequi delectus dignissimos aspernatur perspiciatis culpa? Consequatur ipsum dolores adipisci
    culpa iste nisi?
    Neque incidunt temporibus earum illum, aspernatur minima ab sit, necessitatibus reiciendis possimus distinctio.
    Cum
    quidem sit quod, porro perferendis totam doloribus corrupti beatae fugit dolor unde accusantium, sapiente ipsum.
    Provident.
    Minus nihil nostrum veritatis repudiandae at suscipit blanditiis dolore quibusdam quaerat molestiae corrupti
    laudantium perspiciatis harum reiciendis eum ipsa cum dolorem aspernatur cupiditate deserunt rerum sed, obcaecati
    exercitationem dignissimos. Ullam?
  </mat-card-content>
  <div class="col">
    <mat-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, laborum? Illo quasi eligendi minus omnis quae,
      rem
      officia possimus enim perferendis id laborum unde recusandae. Nemo ex eum quidem est.
      Sit suscipit dicta quo ab odit. Nostrum nam cumque necessitatibus a harum pariatur. Molestias enim incidunt
      earum
      eum
      eligendi soluta itaque molestiae esse deserunt excepturi consequuntur eos nemo, sit exercitationem!
      Sequi alias aspernatur, voluptate fugit quisquam pariatur aliquid ullam quo animi repellendus iusto odio eius
      sint.
      Facere eos explicabo veritatis necessitatibus vitae. Fugit consequuntur veritatis, eligendi amet accusamus qui
      minima!
      Labore quibusdam eligendi tenetur, vitae rem rerum amet similique quisquam repellat culpa asperiores suscipit
      cum
      voluptatum aut? Dignissimos odio, eos at, blanditiis voluptatem dolor, accusamus quo possimus corrupti quisquam
      aspernatur!
      Quam nemo quod, assumenda magni placeat dignissimos quaerat quas eius sit voluptatem odit ducimus harum ab nihil
      recusandae totam sint explicabo excepturi aspernatur, adipisci facere laborum natus aliquam voluptate.
      Laboriosam.
      Rem mollitia amet doloremque delectus dolores hic, velit repellat ut totam veritatis ipsam quos quas assumenda
      debitis
      explicabo eos blanditiis dolorem? Provident esse odit quasi corporis sit molestiae dolores! Nisi.
      Sunt incidunt quibusdam totam doloribus quas aut voluptate tenetur recusandae fuga. Rem eum voluptas aut totam
      culpa
      sequi, blanditiis aperiam corporis labore optio, omnis maiores laudantium mollitia eius fugiat iure.
      Cumque obcaecati porro dolore adipisci nulla quae quo recusandae doloribus natus tempore vel eveniet, nobis
      reprehenderit magnam sequi delectus dignissimos aspernatur perspiciatis culpa? Consequatur ipsum dolores
      adipisci
      culpa iste nisi?
      Neque incidunt temporibus earum illum, aspernatur minima ab sit, necessitatibus reiciendis possimus distinctio.
      Cum
      quidem sit quod, porro perferendis totam doloribus corrupti beatae fugit dolor unde accusantium, sapiente ipsum.
      Provident.
      Minus nihil nostrum veritatis repudiandae at suscipit blanditiis dolore quibusdam quaerat molestiae corrupti
      laudantium perspiciatis harum reiciendis eum ipsa cum dolorem aspernatur cupiditate deserunt rerum sed,
      obcaecati
      exercitationem dignissimos. Ullam?
    </mat-card-content>
  </div>
  <div class="col">
    <mat-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, laborum? Illo quasi eligendi minus omnis quae,
      rem
      officia possimus enim perferendis id laborum unde recusandae. Nemo ex eum quidem est.
      Sit suscipit dicta quo ab odit. Nostrum nam cumque necessitatibus a harum pariatur. Molestias enim incidunt
      earum
      eum
      eligendi soluta itaque molestiae esse deserunt excepturi consequuntur eos nemo, sit exercitationem!
      Sequi alias aspernatur, voluptate fugit quisquam pariatur aliquid ullam quo animi repellendus iusto odio eius
      sint.
      Facere eos explicabo veritatis necessitatibus vitae. Fugit consequuntur veritatis, eligendi amet accusamus qui
      minima!
      Labore quibusdam eligendi tenetur, vitae rem rerum amet similique quisquam repellat culpa asperiores suscipit
      cum
      voluptatum aut? Dignissimos odio, eos at, blanditiis voluptatem dolor, accusamus quo possimus corrupti quisquam
      aspernatur!
      Quam nemo quod, assumenda magni placeat dignissimos quaerat quas eius sit voluptatem odit ducimus harum ab nihil
      recusandae totam sint explicabo excepturi aspernatur, adipisci facere laborum natus aliquam voluptate.
      Laboriosam.
      Rem mollitia amet doloremque delectus dolores hic, velit repellat ut totam veritatis ipsam quos quas assumenda
      debitis
      explicabo eos blanditiis dolorem? Provident esse odit quasi corporis sit molestiae dolores! Nisi.
      Sunt incidunt quibusdam totam doloribus quas aut voluptate tenetur recusandae fuga. Rem eum voluptas aut totam
      culpa
      sequi, blanditiis aperiam corporis labore optio, omnis maiores laudantium mollitia eius fugiat iure.
      Cumque obcaecati porro dolore adipisci nulla quae quo recusandae doloribus natus tempore vel eveniet, nobis
      reprehenderit magnam sequi delectus dignissimos aspernatur perspiciatis culpa? Consequatur ipsum dolores
      adipisci
      culpa iste nisi?
      Neque incidunt temporibus earum illum, aspernatur minima ab sit, necessitatibus reiciendis possimus distinctio.
      Cum
      quidem sit quod, porro perferendis totam doloribus corrupti beatae fugit dolor unde accusantium, sapiente ipsum.
      Provident.
      Minus nihil nostrum veritatis repudiandae at suscipit blanditiis dolore quibusdam quaerat molestiae corrupti
      laudantium perspiciatis harum reiciendis eum ipsa cum dolorem aspernatur cupiditate deserunt rerum sed,
      obcaecati
      exercitationem dignissimos. Ullam?
    </mat-card-content>
  </div>
</div>