<mat-card class="mat-elevation-z8">
  <div class="container">
    <div class="col-25">
      <button mat-raised-button color="primary" (click)="handleClick($event)"> Event Emitting to Parent</button>
    </div>
    <div class="col-25"></div>
    <div class="col-25"></div>
  </div>
  <div class="container">
    <div class="col">
      <mat-hint>After clicking button Parent component the input to child </mat-hint>
    </div>
  </div>
  <div class="container">
    <div class="col">
      <mat-hint>Structral Directive <code>*ngFor</code> and <code>*ngIf</code> is used is used </mat-hint>
    </div>
  </div>

  <div *ngIf="inputFromParent.length>0">
    <div class="container">
      <div class="col-25">
        <mat-list role="list">
          <h3 matLine>Marvel Heros</h3>
          <mat-list-item role="listitem" *ngFor="let item of inputFromParent; let i=index"> {{i+1}} : {{item.name}}
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col-25"></div>
      <div class="col-25"></div>
      <div class="col-25"></div>
    </div>
  </div>
</mat-card>