<!-- <div class="nav-toolbar">
  <mat-toolbar >
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Angular Core</h1>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #snav [mode]="'side'">
      <mat-nav-list>
        <a mat-list-item *ngFor="let nav of navList" routerLink="{{nav.path}}">{{nav.name}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="app-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->


<mat-toolbar color="accent" class="mat-elevation-z4">
  <span>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">
      Angular Core
    </span>
  </span>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
    <mat-nav-list>
      <a mat-list-item *ngFor="let nav of navList" routerLink="{{nav.path}}">{{nav.name}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>